#subNav{ 
    li{ 
        a{
            color: $colorTexto;
        }
    }
}

footer{
    ul {
        li {
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}