*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container-fluid{
    justify-content: center;
}

.container__layout{
    padding: 0;
}

#loginRegister li{
    padding: 0 1vw;
    text-align: center;
}

.form-control{
    width: 35vw;
    text-align: center;
}

#subNav li a{
    color: white;
}

h2{
    text-align: center;
    color: white;
    padding: 2vh 0;
    margin-top: 2vh;
}

section img{
    width: 20vw;
    height: 20vh;
    overflow: hidden;
}

#variedad{
    margin-top: 10vh;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh auto;
    width: 40vw;
}

.footer__links{
    display: flex;
    justify-content: space-evenly;
}

.footer__logos{
    display: flex;
    justify-content: space-evenly;
}

footer ul li a{
    text-decoration: none;
    color: black;
}

#logoFooter{
    width: 10vw;
    margin: 0 auto;
}

.hamburguer{
    display: none;
}

@media (max-width: 767px) {
    .hamburguer{
        display:block;
        width: 100%;
    }

    .hamburguer img{
        width: 50vw;
    }

    .navbar__desk{
        display: none;
    }

    .streams{
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
}